<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Timing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>

        #btbutton {
            position: fixed;
            bottom: 20px;
            right: 20px;
            }
        .dropdown-menu > a:hover{
          color:white;
          background-color: steelblue;
        }

        body > div.row > div.col-md-2.bg-dark > div > a:hover{
        background-color: rgb(192, 221, 245);
      }
        
        </style>
        
        </head>
        <body style='font-family: Apercu, "Gill Sans MT", "Gill Sans", Arial, sans-serif;'>
            <div id="btbutton">
                <button style="background-color: yellowgreen;width:100px;border-radius: 20px;font-weight: bold;" class="chat btn text-white"><i class="fa fa-info-circle"></i> About</button>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"><img src="/logo.png" height=50 width=50 style="border-radius: 10px;" alt=""> MovieBuzz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link text-white" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/movies">Movies </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/movies/action">Action</a>
                        <a class="dropdown-item" href="/movies/comedy">Comedy</a>
                        <a class="dropdown-item" href="/movies/thriller">Thriller</a>
                      </div>
                    </li>
                  </ul>
                  <div class="btn-group mr-4">
                    <% if(user.length==0){ %> 
                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-o ml-3" style="font-size: 150%;color:white"></i>
                      </button>
                    <div class="dropdown-menu mr-4">
                      <a class="dropdown-item" href="/login">Login </a>
                      <a class="dropdown-item" href="/signup">SingUp </a>
                    </div>
                  <% }else{ %> 
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user-o ml-3" style="font-size: 150%;color:white"> <small><%=user %></small> </i>
                    </button>
                    <div class="dropdown-menu mr-4">
                      <a class="dropdown-item" href="/pages/bookings">My Bookings </a>
                      <a class="dropdown-item" href="/auth/logout">Logout </a>
                    </div>
                  <% } %> 
                  </div>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Movies" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </nav>

              <div class="row">
                  <div class="col-md-2 bg-dark" >
                      <h4 class="text-white text-center mt-4">Seat Booking :</h4>
                      <div class="list-group ml-3" style="border:1px solid white;">
                        <a style="color:black" class="list-group-item text-decoration-none"  href="/pages/bookings">All Bookings</a>
                        <a style="color:black" class="list-group-item text-decoration-none"  href="#">Today's Booking</a>
                      </div>
                      <h1 style="margin-top: 200%;"></h1>
                  </div>
                  <div class="col-md-9 mt-4 pl-4">
                    <legend class="mt-2">Pick your seat : </legend>
                    <% if( movie.length >0){%> 
                    <form class="form" action="/movie/register/registerprocess" method="post">
                      <% movie.forEach(item => {%>
                        <input type="hidden" name="mid" value="<%=item.mid %> " >
                        <table class="table mt-4 text-uppercase" style="border-color: white;">
                            <tr>
                                <td>Name </td>
                                <td>:</td>
                                <td><%=item.name %> </td>
                            </tr>
                            <tr>
                                <td>Category </td>
                                <td>:</td>
                                <td><%=item.category %> </td>
                            </tr>
                            <tr>
                                <td>Rating </td>
                                <td>:</td>
                                <td><% for(var i=1;i<=5;i++){%>
                                  <% if(i <= item.rating){%>
                                     <i style="color:#FFD700" class="fa fa-star"></i>
                                  <% }else{ %>
                                     <i style="color:#FFD700" class="fa fa-star-o"></i>
                                  <%}%>    
                             <% } %></td>
                            </tr>
                            <tr>
                                <td>Rs</td>
                                <td>:</td>
                                <td> <%=item.pay %>/- </td>
                            </tr>
                        </table>
                      <% }) %>

                      <div class="form-group">
                        <label for="theater">Choose Theater :</label>
                        <select class="form-control" name="theater"  id="theater" required>
                          <option></option>
                          <option>ARRS Multiplex</option>
                          <option>Keerthana Theater</option>
                          <option>Oscars Theater</option>
                          <option>Sathyam Theater</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="showtime">Choose Today's Show Time :</label>
                        <select class="form-control" name="time" id="showtime" required>
                          <option></option>
                          <option>9.00 AM</option>
                          <option>12.00 PM</option>
                          <option>4.00 PM</option>
                          <option>8.00 PM</option>
                        </select>
                      </div>
                      
                      <div class="text-center mt-4" style="margin-left:auto ;margin-right:auto ;">
                        <input style="border-radius: 20px;" type="submit" class="btn btn-primary" value="Proceed To Choose Seats">
                      </div>
                    </form>
                <% }else{ %>
                    <h5>No Movies Found</h5>
                <% } %> 
                  </div>
                  </div>
                  <div class="col-md-2"></div>
              </div>
            
        </body>
</html>